/* === HEADER === */

.logo-desktop-header {
    display: inline;
}

.fa-bars {
    /* @TODO specificity is not the problem here... */
    display: none !important
}

.header-menu {
    display: block;
    position: static;
    /* top: 10px;
    left: 10px; */
    border: none;
    box-shadow: none;
    height: fit-content;
    width: fit-content;
}

.header-menu ul {
    flex-direction: row;
    height: 2.625rem;
    width: fit-content;
    gap: 1.875rem;
    align-items: center;
}

.header-menu li {
    height: fit-content;
}

h1 {
    width: fit-content;
}

/* === MAIN === */

.me-and-skills {
    max-width: 59.875rem;
    margin: 0 auto;
}

.main-photo {
    padding-top: 32.46%;
    background-position: top 0 left 0;
}