.container {
    max-width: var(--max-container-width-desktop);
    margin: 0 auto;
}

.header-menu:hover,
.footer-menu:hover {
    cursor: pointer;
}

/* === HEADER === */
header {
    padding: 0 7.5rem;
}

.logo-desktop-header {
    display: inline;
}

.header-container {
    max-width: 1920px;
    margin: 0 auto;
    /* padding: 0 3.75rem; */
}

.fa-bars {
    /* @TODO specificity is not the problem here... */
    /* maybe create own class */
    display: none !important
}

.header-menu {
    display: block;
    position: static;
    /* top: 10px;
    left: 10px; */
    border: none;
    box-shadow: none;
    height: fit-content;
    width: fit-content;
}

.header-menu ul {
    flex-direction: row;
    height: 2.625rem;
    width: fit-content;
    /* gap: calc(min(1.875rem, 2%)); */
    gap: 1.875rem;
    align-items: center;
}

.header-menu li {
    height: fit-content;
}

h1 {
    max-width: none;
}

/* === MAIN === */

main {
    min-height: calc(100vh - var(--header-height) - var(--footer-height-desktop));
    padding: 0 7.5rem;
}

/* --- home --- */

.me-and-skills {
    max-width: 59.875rem;
    margin: 0 auto;
}

.main-photo {
    padding-top: 32.46%;
    background-position: top 0 left 0;
}

.skill-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, 11.375rem);
    grid-auto-flow: rows;
    justify-content: space-between;
}

.projects-carousel {
    margin: 0 auto;
    flex-direction: row;
    justify-content: center;
    gap: 2.5625rem;
}

.project-card {
    width: 22.5rem;
    height: 28.75rem;
}

@media (max-width: 1023px) {

    header {
        padding: 0 5rem;
    }

    .header-menu ul {
        gap: 0.5rem;
    }

    .projects-carousel {
        flex-direction: column;
    }
}

@media (min-width: 1024px) {

    .switch-proj-btn .fa-arrow-up,
    .switch-proj-btn .fa-arrow-down {
        transform: rotate(-90deg);
    }
}

/* --- projects --- */


.projects-list {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 22.5rem);
    grid-auto-flow: rows;
    column-gap: 2.5625rem;
    row-gap: 5.25rem;
    justify-content: space-between;
    margin-bottom: 5.25rem;
}

/* --- modal --- */

.modal {
    top: calc(50vh - 12.5%);
    left: calc(50vw - 25%);
    width: 50%;
    padding: 3.75rem min(4%, 7.5rem) 4rem min(4%, 7.5rem);

}

/* --- about --- */

.container-about {
    max-width: 59.875rem;
    margin: 0 auto;
}

/* --- contact --- */

.contact-form {
    display: grid;
    column-gap: 6.875rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email"
        "message message"
        "send-message send-message";
}

.name-input-container {
    grid-area: name;
}

.email-input-container {
    grid-area: email;
}

.message-input-container {
    grid-area: message;
}

.send-message-button {
    grid-area: send-message;
    width: 15rem;
    margin: 1.5rem auto 0 auto;
}

/* --- messages --- */

.container-messages {
    padding: 5.25rem 7.5rem;
}

/* === FOOTER === */

footer {
    padding: 3.75rem 7.5rem;
    height: 400px;
}

.footer-container {
    max-width: 1920px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.footer-menu {
    display: block;
}

.footer-menu ul {
    display: flex;
    flex-direction: column;
    gap: 1.875rem;
}

.footer-menu li {
    line-height: 18.75px;
}

.contact-and-copyright {
    margin: 0;
    justify-content: flex-end;
}

.contact-and-copyright .phone {
    margin-bottom: 1.875rem;
}