.section {
    width: 100vw;
}

header, footer {
    background-color: var(--valhalla);
    color: var(--white);

}

.container {
    width: 100%;
}

/* === HEADER === */

.header-container {
    height: 500px;
}

/* === MAIN === */

.main-photo {
    /* for testing */
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

/* === FOOTER === */

.footer-container {
    height: 232px;
}