.section {
    width: 100vw;
}

header, footer {
    background-color: var(--valhalla);
    color: var(--white);
}

.container {
    width: 100%;
}

/* === HEADER === */

.header-container {
    height: 200px;
}

.logo-common {
    color: var(--gold);
}

.logo-desktop-header {
    display: none;
}

.fa-bars {
    color: var(--white);
}

.menu-opened {
    color: var(--gold);
}

/* === MAIN === */

/* --- home --- */

.main-photo {
    /* for testing */
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.indicator {
    display: flex;
    flex-direction: row;
    gap: 0.75rem;
}

.indicator-dot {
    width: 0.75rem;
    height: 0.75rem;
    border: 1px solid var(--valhalla);
    border-radius: 50%;
}

.indicator-dot-filled {
    background-color: var(--valhalla);
}

.project-card {
    width: 300px;
    height: 160px;
    background-image: url(./../img/project-bg.jpeg);
    color: var(--white);
}

/* === FOOTER === */

.footer-container {
    height: 232px;
}